Source: piaware-ble-connect
Section: unknown
Priority: optional
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper (>= 11), python3-dev, python3-setuptools, dh-python
Standards-Version: 4.1.3

Package: piaware-ble-connect
Architecture: all
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends}, piaware-configurator,
  python3-gi, python3-dbus, python3-requests
Description: Support packages to enable configuration of PiAware over
  Bluetooth LE
