# Systemd service for piaware-ble-connect

[Unit]
Description=Bluetooth LE service for configuring PiAware
After=bluetooth.target
Requires=bluetooth.target
After=piaware-configurator.service

[Service]
User=piaware-ble-connect
RuntimeDirectory=piaware-ble-connect
ExecStartPre=/usr/lib/piaware-ble-connect/save_default_led
ExecStart=/usr/lib/piaware-ble-connect/piaware_ble_connect
ExecStopPost=/usr/lib/piaware-ble-connect/restore_default_led
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
