#!/usr/bin/make -f
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ --with python3 --buildsystem=pybuild


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

